@media (max-width: 640px) {
  :root {
    --container-bottom: 4.5rem;
  }
}

@media (min-width: 768) {
  :root {
    --container-bottom: 4.5rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --container-bottom: 4.5rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --container-bottom: 1.5rem;
  }
}


.menu-container {
  position: fixed;
  bottom: var(--container-bottom);
  right: 1em;
}

.menu-toggle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  display: table;
  text-align: center;
}
.menu-toggle .fa {
  color: #fff;
  font-size: 3em;
  vertical-align: middle;
  transition: 0.2s;
}
.menu-toggle.open .fa {
  transform: rotate(135deg);
}

.btn-app {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  position: absolute;
  color: #fff;
  text-align: center;
}

.btn-app .fa {
    font-size: 2em;
}

.menu-round {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.menu-round .btn-app {
  bottom: 0.5em;
  right: 0.5em;
  transition: 0.2s;
}
.menu-round.open .btn-app:nth-of-type(1) {
  right: 0.5em;
  bottom: 7.25em;
  transition-delay: 0.1s;
}
.menu-round.open .btn-app:nth-of-type(2) {
  right: 5.5em;
  bottom: 5.5em;
  transition-delay: 0.1s;
}
.menu-round.open .btn-app:nth-of-type(3) {
  right: 4.25em;
  bottom: 0.5em;
}

.menu-line {
  position: absolute;
  z-index: 2;
}
.menu-line .btn-app {
  bottom: 0.5em;
  right: 0.5em;
  transition: 0.3s;
  transition-delay: 0.3s;
}
.menu-line.open .btn-app:nth-of-type(1) {
  bottom: 13.25em;
}
.menu-line.open .btn-app:nth-of-type(2) {
  bottom: 10.25em;
}
.menu-line.open .btn-app:nth-of-type(3) {
  bottom: 13.25em;
}
.menu-line.open .btn-app:nth-of-type(4) {
  bottom: 16.25em;
}
.menu-line.open .btn-app:nth-of-type(5) {
  bottom: 19.25em;
}
.menu-line.open .btn-app:nth-of-type(6) {
  bottom: 22.25em;
}
.menu-line.open .btn-app:nth-of-type(7) {
  bottom: 25.25em;
}