/*  remove footer globally */
.t-Footer{
  display: none;
}
/* add content row hover */
.t-ContentRow .t-ContentRow-item:hover{
    background-color: var(--ut-report-cell-hover-background-color);
}

/* some size adaptations */
@media (max-width: 640px) {
  :root {
    --ut-cr-desc-font-size: 0.675rem;
    --ut-cr-desc-margin-y: 0rem;
    --ut-xs-cr-wrap-padding-y: 0.25rem
  }
}

@media (min-width: 768px) {
  :root {
    --ut-cr-desc-font-size: 0.675rem;
    --ut-cr-desc-margin-y: 0rem;
    --ut-xs-cr-wrap-padding-y: inherit;
  }
}

@media (min-width: 1024px) {
  :root {
    --ut-cr-desc-font-size: 0.675rem;
    --ut-cr-desc-margin-y: 0rem;
    --ut-xs-cr-wrap-padding-y: inherit;
  }
}

@media (min-width: 1200px) {
  :root {
    --ut-cr-desc-font-size: inherit;
    --ut-cr-desc-margin-y: inherit;
    --ut-xs-cr-wrap-padding-y: inherit;
  }
}


